{% extends 'baseAuth.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    <script>
        function cambiarTipo(tipo) {
            document.getElementById("registration_form_plainPassword").type = tipo;
        }
        function verificar_email_y_cin() {
            var email = document.getElementById('utilisateur_email').value;
            var cin = document.getElementById('utilisateur_cin').value;
    
            var xhr = new XMLHttpRequest();
            xhr.open('POST', "{{ path('app_verificar') }}", true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        var result = response.mensaje == '1' ? 'Il y a déjà un utilisateur avec cet email':'&nbsp;' ;
                        result = response.mensaje == '2' ? '&nbsp;': result ;
                        var result2 = response.mensaje == '1'? '&nbsp;' : '&nbsp;';
                        result2 = response.mensaje == '2' ? 'Il y a déjà un utilisateur avec cet CIN': result2 ;
                        document.getElementById('resultado').innerHTML = result;
                        document.getElementById('resultado_cin').innerHTML = result2;
                        
                        if (response.mensaje != '1' && response.mensaje != '2') {
                            document.getElementById('registration_form').submit();
                        }
                    }
                }
            };
    
            var params = 'email=' + encodeURIComponent(email) + '&cin=' + encodeURIComponent(cin);
            xhr.send(params);
    
            return false;
        }
    </script>  
    
    {{ form_errors(registrationForm) }}

    <!-- Banner Start -->
    <div class="container-fluid banner mb-150">
        <div class="container" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-8 wow zoomIn" data-wow-delay="0.3s">
                    <div class="bg-dark d-flex flex-column p-5 mb-30" style=" height: auto;">
                        <form id="registration_form" action="{{ path('app_register') }}" method="post" enctype="multipart/form-data" onsubmit="return verificar_email_y_cin();">
                            <div class="row g-3 bg-dark">
                                <h3 class="text-white mb-2">S'enregistrer</h3>
                                <p id="resultado_cin" class="text-danger mt-0 mb-0"></p>
                                <p id="resultado" class="text-danger mt-0 mb-0"></p>
                                <h6 class="text-white mb-2">Je ai déjà un compte <a href="{{ path('app_login') }}">S'authentifier</a></h6>
                                <div class="col-10 col-sm-8 mb-2">
                                    {{ form_widget(registrationForm.nom, {'attr': {'class': 'form-control', 'pattern':"[A-Za-zÀàÂâÄäÉéÈèÊêËëÎîÏïÔôŒœÙùÛûÜüÇç' ]{2,}( [A-Za-zÀàÂâÄäÉéÈèÊêËëÎîÏïÔôŒœÙùÛûÜüÇç' ]{2,})+"}}) }}
                                </div>
                                <div class="col-10 col-sm-4 mb-2">
                                    {{ form_widget(registrationForm.genre, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-10 col-sm-8 mb-2">
                                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-10 col-sm-4 mb-2">
                                    {{ form_widget(registrationForm.ddn, {'attr': {'class': 'form-control'}}) }}
                                </div>              
                                <div class="col-10 col-sm-8 mb-2 ">
                                    {{ form_widget(registrationForm.adresse, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-10 col-sm-4 mb-2 ">
                                    {{ form_widget(registrationForm.ville, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-10 col-sm-8 mb-2">
                                    {{ form_widget(registrationForm.cin, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="col-10 col-sm-4 mb-2">
                                    {{ form_widget(registrationForm.telephone, {'attr': {'class': 'form-control', 'pattern': '[+]212(5|6|7)[0-9]{8}', 'value': '+212'}}) }}
                                </div>
                                <div class="col-10 col-sm-8 mb-2" onmouseover="cambiarTipo('text');" onmouseout="cambiarTipo('password');">
                                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'pattern': '(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,12}'}}) }}
                                </div>
                                <div class="col-10 col-sm-4 mb-2">
                                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                                    <label class="form-check-label text-white" for="{{ registrationForm.agreeTerms.vars.id }}">
                                        J'accepte les termes
                                    </label>
                                </div>
                                <div style="display:none;">
                                    {{ form_row(registrationForm) }}
                                </div>
                                <center>
                                    <div class="col-10">
                                        <button type="submit" id="validar" class="btn btn-lg btn-primary">S'enregistrer</button>
                                    </div>
                                </center>  
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

{% endblock %}
